# Data Science Tools and EcoSystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a markdown cell with a table of Data Science tools
- Create visualizations using Matplotlib and Seaborn
- Perform data manipulation using Panda

Some of the popular languages that Data Scientists use are:
- python
- R
- SQL
- java

Some of the commonly used libraries used by Data Scientists include:
- pandas
- matplotlib
- Seaborn
- Numpy

|  Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60.

200/6

33.333333333333336

## Author
Hari Sree